@import '../../index.less';

.menu{
  width: 100%;
  justify-content:center;
  .item{
    flex: 1;
    height: 72px;
    font-weight: 100;
    letter-spacing: 2px;
    color: #464C66;
    padding-left: 24px;
    cursor: pointer;
    transition: all .3s;
    &:hover{
      text-shadow: 0 0 3px black;
      color: #CCC;
    }
    .menu-item-name-en{
        height: 36px;
        line-height: 48px;
        font-size: 12px;
    }
    .menu-item-name-cn{
        height: 36px;
        line-height: 12px;
        font-size: 16px;
    }
  }
  .selected{
    background-color: rgba(0,0,0,.1);
    color: white;
    font-weight: 300;
    text-shadow: 0 0 6px white, 0 4px 2px black;
    &:hover{
      color: white;
      text-shadow: 0 0 6px white, 0 4px 2px black;
    }
  }
}
