@base: #333;
@mainFontColor: #333;
@left-bg: #E8EDEB;

html{
	height:100%;
}

body {
	font-family:  -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Roboto, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', 'Microsoft Jhenghei', sans-serif;
	height:100%;
	margin:0px;
	padding:0px;
	width:100%;
}

#root {
  border-color: lighten(@base, 30%);
  width: 100%;
  height: 100%;
}
