
.ProgressRing {
    height: 100%;
    width: 100%;
    padding: 24px;
    padding-left: 0px;
    .ProgressRing-title{
      position: relative;
      top: -160px;
      color: #B2B2C1;
      width: 100%;
      text-align: center;
      .ProgressRing-count{
        .ProgressRing-number{
          font-size: 48px;
        }
        .ProgressRing-unit{
          font-size: 20px;
        }
      }
      .ProgressRing-text{
        height: 16px;
        line-height: 16px;
        .ProgressRing-dot{
          height: 4px;
          width: 4px;
          background-color: #6496FB;
          box-shadow: 0 0 3px #6496FB;
          border-radius: 2px;
          display: inline-block;
          position: relative;
          top: -2px;
        }
        .ProgressRing-text-content{
          font-size: 12px;
          padding-left: 8px;
          color: #464C66;
        }
      }
    }
    .ProgressRing-chart{
      position: relative;
    }
}
